#appointments-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    
}
#calendar-component {
    width: 100%;
  }

/* .react-calendar{
    height: 40rem;
}

.react-calendar__viewContainer{
    width:30rem;
} */

.react-calendar {
    height: 300px;
    width: 300px;
  }
  
  .react-calendar__viewContainer {
    width: 100%;
  }
  
  
  .react-calendar, .react-calendar__navigation, .react-calendar__navigation__label__labelText, .react-calendar__navigation__label__labelText--from, .react-calendar__month-view__days button{
    /* background-color: rgb(51, 68, 80)!important; */
    /* color: white!important; */
    font-size: 1rem!important;
    width: 30rem !important;
    height: 3rem !important;
}

.react-calendar__month-view__days button{
    font-size: 0.7rem!important;
}