#charts-form {
    padding: 20px;
    transition: all 0.3s;
}

#charts-form:hover {
    box-shadow: 0px 0px 10px rgba(146, 189, 248, 0.433);

    border-radius: 20px;
    scale: 105%;
    transition: all 0.3s;
}


#add-value {
    font-size: 30px;
    color: white;
    transition: all 0.3s;
    padding: 10px;
    margin: auto;
    border-radius: 10px 0 0 10px;
}

#add-value:hover {
    transition: all 0.3s;
    scale: 105%;
    color: #00BCE4;

}

#add-value:active {
    transition: all 0.3s;
    scale: 100%;
    color: #00ECD2;
    box-shadow: 2px 2px 5px rgb(77, 81, 84) inset;
}

#chart-dropdown {
    transition: all 0.3s;
}

#chart-dropdown:hover {
    box-shadow: 2px 2px 5px #00BCE4;
    transition: all 0.3s;
}

#charts-heading {
    text-align: center;
    background-image:radial-gradient( rgb(0, 208, 255),rgb(112,238,232));
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 112, 177, 0.499);
    background-color: rgb(0, 188, 228);
    margin-bottom: 40px;
    padding:5px;
    border-radius: 40px;
    width: 400px;
}