#content{
    display: flex;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.react-calendar__tile--now{
    background-color: rgb(207, 207, 207)!important;
    color:black;
}



span{
    
}
#user-details{
    display: grid;
    /* width: 30%; */
    margin: 0.3rem 0.5rem;
    font-size: 1rem;
    
}

#name{
    font-size: 2rem;
}
#uname{
    margin: auto auto auto 20px;
}

#profile{
    display: flex;
    flex-direction: row;
}

#name{
    margin:auto;
}

#email{
    margin: auto;
    color:orangered;
}




#profile-pic{
    width:7rem;
    height: 7rem;
    margin-top: 1rem;
    border-radius: 50%;
    border:1px solid rgb(0, 0, 0);
}

#profile-pic:hover{
}

#info{
    display: flex;
    justify-content:center;
    margin:1rem 0;
}

#details{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 0.8rem;
    border:1px solid black;
    border-radius: 20px;
    width: 13rem;
    height: fit-content+10px;
    font-weight: bold;
    /* background-color:whitesmoke; */
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
    
}

.arrow-down {
    width: 0; 
    margin:0;
    position: relative;
    top:-2%;
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid rgb(39,33,33);
  }



#details p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1.3rem;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#badge-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#badge{
    height: 7rem;
    width: 7rem;
}

#doctors table{
    margin: auto;
    font-size: 0.7rem;
    border: 2px solid black;
    
}



#doctors th{  
    color:rgb(255, 255, 255);    
    padding: 10px;
    border: 1.5px solid black;
}
#doctors tr{
    background-color: rgb(0, 174, 255);  
    color:white;
    padding: 10px;
}
#doctors td{
    border: 1.5px solid black;
}

@keyframes fade {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;

        
    }
    
}

#tips{
    text-align: center;
    font-size: 0.9rem;
    opacity: 0%;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#dash-components{
    display: flex;
    width: 70%;
    /* height: 100vh; */
    /* justify-content:space-evenly; */
    flex-direction: column;   
    /* margin: auto; */
    
}



#r1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: fit-content;
}
#r2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: fit-content;
}

#c5{
    
}


  
  .line {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #000;
  }
