#content{
    display: flex;
    position:absolute;
    width: 100%;
    min-height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


span{
    font-size: 4vh;
    
}
#user-details{
    display: grid;
    width: 30%;
    margin: 1vh 2vh;
    font-size: 3vh;
    
}

#name{
    font-size: 5vh;
}
#uname{
    margin: auto auto auto 2vh;
}

#profile{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#name{
    margin:auto;
}

#email{
    margin: auto;
    color:orangered;
}




#profile-pic{
    width:15vh;
    height: 15vh;
    margin-top: 2vh;
    border-radius: 50%;
    border:1px solid rgb(0, 0, 0);
}

#profile-pic:hover{
    opacity: 50%;
}

#info{
    display: flex;
    justify-content:space-around;
    margin:1vh 0;
}

#details{
    font-size: 2vh;
    border:1px solid black;
    border-radius: 6vh;
    width: 40%;
    height: fit-content+10px;
    font-weight: bold;
    /* background-color:whitesmoke; */
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-align: center;
}

@keyframes details-animation {
    0%{

    }
    100%{
        box-shadow: 2px 2px 10px black;
    }
}

#details:hover{
    animation-name: details-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#details p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3vh;
    margin-bottom: 0!important;
}

#badge-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

#badge{
    height: 15vh;
    width: 15vh;
}

#doctors table{
    margin: auto;
    font-size: 2vh;
    border: 2px solid black;
    
}



#doctors th{  
    color:rgb(255, 255, 255);    
    padding: 10px;
    border: 0.22vh solid black;
}
#doctors tr{
    background-color: rgb(0, 174, 255);  
    color:white;
    padding: 10px;
}
#doctors td{
    border: 0.22vh solid black;
}

@keyframes fade {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;

        
    }
    
}

#tips{
    text-align: center;
    font-size: 2vh;
    opacity: 0%;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#dash-components{
    display: flex;

    width: 70%;
    height: 100vh;
    justify-content:space-evenly;
    flex-direction: column;   
    margin: auto;
    
}



#r1{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
#r2{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/* .sc-eDWCr{
    font-size: 1.5vh;
}
.hbotQl{
    font-size: 1.5vh;
}

.sc-hLBbgP {
    font-size: 1.5vh;
    padding:0;
    width:1vh;

}
.rdt_TableCell{
    background-color: red;

} */
/* sc-eDvSVe sc-jSUZER eVPPvF bQdYbR dtqzBx rdt_TableCell */
/* sc-hLBbgP sc-eDvSVe sc-jSUZER eVPPvF bQdYbR dtqzBx rdt_TableCell */