.error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.error-page-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #333;
}

.error-page-message {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: #666;
}

.error-page-illustration {
    max-width: 50%;
    border-radius: 5px;
    
}