.dropdown-menu{
    color:red;
}
.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar Form {
    display: flex;
    margin-left: 2rem;
    gap: 8rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.card{
    background-color: rgb(23,29,61);
    color:white;
    margin:5px;
    box-shadow: 2px -2px 20px white;
}
.search-container{
    margin: auto;
}