.title {
    z-index: 2;
    position: relative;
    margin: auto;
    font-size: 60px;
    color: rgb(255, 255, 255);
  
  }
  
  .team-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #team-profiles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
  }