*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* --- Make sure to change height and width to as per the component size in layout --> */

.dash-component, fieldset{
    height: 40vh;
    /* max-height: 230px; */
}

.dash-component{
    background-color: rgba(255, 255, 255, 0.536);
    width: auto;
    margin:1vh;
}

fieldset{
    /* border: 1px solid black!important; */
    box-shadow: 3px 2px 10px black;
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
    border-radius: 10px;
}
@keyframes example {
    0% {background-color: rgb(255, 255, 255);border-radius: 10px;}
    100% {background-color: rgb(255, 200, 0);box-shadow: 20px 2px 4px black;border-radius: 0px;}
  }
fieldset:hover{
    animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
    
}

legend{
    color: black;
    font-size: 3.2vh!important; 
    margin:1vh 0 0 1vh;
}



.dash-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:4vh;
    width:4vh;
    border-radius: 50%;
    color:white;
    font-size: large;
    border: double 0.6vh white;
    background-color:black;
    margin-top: auto;
    margin-left: auto;
    
}

@keyframes hover {
    0% {background-color: rgb(0, 0, 0);}
    100% {background-color: rgb(215, 86, 0);}
  }
.dash-button:hover{
    /* background-color: rgba(0, 0, 0, 0.72); */
    
    animation-name: hover;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function:ease-out;
    animation-fill-mode: forwards;
}
@keyframes mousedown {
    0% {background-color: rgb(215, 86, 0);}
    100% {background-color: rgb(255, 200, 0)}
  }
.dash-button:active{
    border-radius:12px ;
    background-color: rgba(255, 102, 0, 0.657);
    animation-name: mousedown;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
    animation-fill-mode: forwards;
}

/* --- For mobile devices --- */

@media screen and (max-width:480px) {

    .dash-component{
        height: 200px;
        width: 200px;
        overflow: auto;
    }
    
    .dash-button{
        margin:0 0 auto auto;
    }

}