.sidenav{
    height:auto;  
    width: 7%;  
    position: sticky;
    background-color:black; 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
}

ul li{
    list-style: none;
    margin:25px auto;  
}

ul{
    margin-right:50%;
}

