.carousel-inner, .carousel{
    height: 100%!important;
    overflow: hidden;
    z-index: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.424);
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.202); 
}
.slider-img{
    height: 100vh;
    overflow: hidden;
}