*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dash-component{
    background-color: rgba(255, 255, 255, 0.536);
    /* width: 20vw; */
    margin:0.4rem;
    height: 18rem;
}
#floater-nodata{
    position:relative;
    width: fit-content;
    color: rgb(148, 148, 148);
    top: 40%;
    left:45%;
}

.dash-component::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.dash-component::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.dash-component::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
}

/* Handle on hover */
.dash-component::-webkit-scrollbar-thumb:hover {
    background: #000000cd; 
}



#prescription{
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
    overflow: hidden;
    overflow-y:auto;
}

#tab-stock{
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
    overflow: hidden;
    overflow-y:auto;
}

#tab-list{
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    border-radius: 10px; 
    overflow: hidden;
    overflow-y:auto;
}



    

#tab-list>table>tr , #tab-stock>table>tr{
    border:1px solid black;
}

#tab-list>table > tr:hover{
    border:1px solid black;
    box-shadow: 0px 0px 5px black;
}

#tab-stock>table > tr:hover{
    border:1px solid black;
    box-shadow: 0px 0px 5px black;
}

#prescription>table > tr td span{
    padding:10px;
}

#prescription>table > tr:hover{
    box-shadow: 0px 0px 5px black;
}

td>a{
    text-decoration: none;
    color:black;
}



legend{
    /* color: black; */
    font-size: 3.2rem; 
    font-style:italic;
    margin:4px 0 0 4px;
}



.dash-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:1.5rem;
    width:1.5rem;
    border-radius: 50%;
    color:white;
    font-size: large;
    border: double 4px white;
    background-color:black;
    overflow:hidden
}

/* #floater-nodata{
    position:relative;
    width: fit-content;
    color: rgb(148, 148, 148);
    top: 40%;
    left:45%;
} */

.dash-button-container{
    margin-top: auto;
    margin-left: auto;
}




/* --- For mobile devices --- */

@media screen and (max-width:480px) {

    
    
    .dash-button{
        margin:0 0 auto auto;
    }

}


.recharts-surface:hover{
    cursor: crosshair;
}