.subsection1, .subsection2{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}
.home-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-content-container>h2{
    align-items: start;
}
.subsection3{
    background-color: rgb(255, 255, 255);
}