.nav-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #171d3d;
  width: 100%;
  z-index: 10;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px black;
}

.heading{
  font-size: 40px;
  color:white;
}

.logo{
  width: 50px;
  height: 50px;
  margin: 0px 5px 0px 10px ;
  color:white;
  background-color: rgb(23,29,61);
  padding: 2px;
  border-radius: 10%; 

}

.heading{
  font-family:'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
}

#login-button , #register-button{
  width:70px;
  height: 50px;
  transition:scale 0.2s, translate 0.2s;
  transition-timing-function: ease-in-out;
}

#login-button:hover, #register-button:hover{
  scale: 105%;
  transition: scale 0.2s, translate 0.2s;
  transition-timing-function: linear;
}

#login-button:hover{
  translate: -5px 0px;
}

#register-button:hover{
  translate: 5px 0px;
}

#login-button:active, #register-button:active{
  opacity: 80%;
  scale:100%
}

#login-button:active{

}



.navbar-buttons{
  margin:0px 10px 0px auto;
  display: flex;
}

@media screen and (max-width:480px) {
  .heading{
    font-size: xx-large;
  }
  
}