.nav-container{
  display:flex;
  align-items: center;
  justify-content: center;  
  background-color: white;
  width: 100%;
}

.heading{
  font-size: 40px;
  color:black;
  /* text-shadow: 2px 2px 4px black;
  -webkit-text-stroke: 1px black; */
}

.logo{
  width: 50px;
  height: 50px;
  margin: 0px 5px 0px 10px ;
  
}

.heading{
  font-family:'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
}

#login , #register{
  width:70px;
  height: 50px;

}

#login:hover{
  scale: 110%;
}

.buttons{
  margin:0px 10px 0px auto;
  display: flex;
  /* margin-left: auto; */
}

