.sidebar {
    /* position: fixed; */
    left: 0;
    top: 12%;
    bottom: 0;
    margin: 0;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  
  .sidebar label {
    margin-right: 10px;
  }
  
  .sidebar select {
    margin-left: 10px;
  }
  
  .sidebar button {
    margin-top: 10px;
  }
  