.sidenav{
    height:100vh;  
    width: 10vh;  
    background-color:black; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    margin:2vh 0;
    font-size: 4vh;
}


div.sidenav,
      div.sidenav > *{
        color:rgb(255, 255, 255);
      }


@keyframes icons {
    0%{
        font-size: 4vh;
    }
    100%{
        font-size: 5vh;color:blue;
    }
}

div.sidenav,
div.sidenav > *:hover {
    animation-name: icons;    
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes a {
    0%{
        color:white;font-size: 5vh;
    }
    100%{
        color:rgb(0, 106, 255);font-size: 5vh;
    }
}
svg:active{
    animation-name: a;   
    
}